body{
   font:20px;
}

#contents
{
   width: 980px;
   margin: 0 auto 0 auto;
}
header
{
   Background-color :  #e78f08;
   color: #ffffff;
   padding-left: 10px;
   width: 970px;
}
#graphicArea{
   float: left;
}
#header-visibleController
{
   width: 690px;
   height: 25px;
   padding: 5px;
   Background-color: gray;
   /* float: left; */
}

div#canvas-frame
{
   width: 700px;
   height: 640px;
   /* Background-color: gray; */
   /* float: left; */
}

div#side-bar
{
   padding: 10px;
   width: 260px;
   height: 620px;
   /* Background-color: green; */
   float: right;

}

div#side-bar textarea
{
   width: 205px;
   height: 100px;
}

div.normalVector input
{
   width : 20px;
}

input.mvx, input.mvy, input.mvz
{
   width : 30px;
}

#sliderMoveX, #sliderMoveY, #sliderMoveZ,
      #slider_scale
{
   width: 120px;
   float: right;
   background: #bbbbbb;
   margin-top:10px;
}

#btnRotationX, #btnRotationY, #btnRotationZ
{
   width:60px;
}

#model-info
{
   width:690px;
   height: 25px;
   padding: 5px;
   color: white;
   Background-color: black;

}

#model-info input
{
   width: 60px;
   color: white;
   Background-color: black;
   border: none;
   margin: 0 auto 0 auto ;
}

/* オーバレイ関連 */
#btn{
  
}



#overlay{
   display: none;
   width: 100%;
   height: 100%;
   text-align: center;
   position: fixed;
   top: 0;
   z-index: 100;
   Background: rgba(0,0,0,0.7);
}

#overlay-popup{

   width: 600px;
   height: 180px;
   background: #eeeeee;
   margin: auto;
   margin-top: 20%;
   padding-top: 20px;
     
}

#overlay-title{

   color:#717171;
   margin:20px;
}


#progressbar{

   width: 80%;
   margin: auto;
}

#overlay-close{

   Background: #cccccc;
   width: 100px;
   margin: auto;
   margin-top: 20px;
   color:#717171;
}

/* お問い合わせフォーム */
#query{
   font-size: 7px;
   width: 980px;
   margin: 0 auto 0 auto;
}

#query a{
   float: right;
}
